@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

body {
    background-color: #272727;    
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza os itens verticalmente */
    flex-direction: column; /* Disposição em coluna */
    height: 100%;
    font-family: 'Baloo Thambi', cursive;
    font-size: 300%;
}

.div1 > span {
    animation: glow 9s ease-in-out infinite;
}

.div2 {
    margin-top: 20px; /* Espaço entre as divs */
}

button{
    height: 5%;
    width: 35%;
}

#nao{
    position: absolute;
    transition: all 0.2s ease-in-out;
    left: 50%;
    color: red;
}

@keyframes glow {
    0%, 100% {
        color: #fff;
        text-shadow: 0 0 12px rgb(255, 0, 183), 0 0 50px rgb(255, 0, 183), 0 0 100px rgb(255, 0, 183);
    }
    30%, 90% {
        color: #111;
        text-shadow: none;
    }
}

.div1 > span:nth-child(1) {
    animation-delay: 0.0s;
}
.div1 > span:nth-child(2) {
    animation-delay: 0.0s;
}
.div1 > span:nth-child(3) {
    animation-delay: 0.0s;
}

.div1 > span:nth-child(5) {
    animation-delay: 3.0s;
}
.div1 > span:nth-child(6) {
    animation-delay: 3.0s;
}
.div1 > span:nth-child(7) {
    animation-delay: 3.0s;
}
.div1 > span:nth-child(8) {
    animation-delay: 3.0s;
}
.div1 > span:nth-child(9) {
    animation-delay: 3.0s;
}

.div1 > span:nth-child(11) {
    animation-delay: 6.0s;
}
.div1 > span:nth-child(12) {
    animation-delay: 6.0s;
}
.div1 > span:nth-child(13) {
    animation-delay: 6.0s;
}
.div1 > span:nth-child(14) {
    animation-delay: 6.0s;
}
.div1 > span:nth-child(15) {
    animation-delay: 6.0s;
}
.div1 > span:nth-child(16) {
    animation-delay: 6.0s;
}
